# Ignore the .git directory (if using Git)
.git

# Ignore the .vs directory (Visual Studio)
.vs
.vscode/
.idea/

# Ignore the bin and obj directories (build artifacts)
**/bin
**/obj

# Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore Docker-related files
Dockerfile
.dockerignore

# Ignore logs
logs/

# Ignore temporary and system files
*.swp
*.DS_Store
